.Play {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e1e1e;
  .playerWrapper {
    position: relative;
    width: 90%;
    aspect-ratio: 160/67;
  }
}
