.TestOverlay {
  position: absolute;
  top: 100px;
  left: 100px;
  padding: 10px;
  background: red;
  color: white;
  cursor: pointer;
}

.SelectOverlay {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 10%;
  display: flex;
  justify-content: space-evenly;
  transition: 0.5s ease;
  .select {
    font: inherit;
    font-family: "Garam", serif;
    font-size: 2vw;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    animation: 1s ease reveal;
    transition: 0.5s ease;
    text-shadow: 0 0 12px #000000;
    &:hover {
      opacity: 0.7;
    }

    &.endSelected {
      transform: scale(1.1);
      opacity: 1;
    }
    &.notEndSelected {
      opacity: 0.7;
    }
  }
  &.invisible {
    opacity: 0;
    cursor: default;
  }
  &.visible {
    .select:hover {
      opacity: 0.8;
    }
  }
}

.PhoneNumberOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  animation: 1s ease reveal;

  .inputForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    .explanation {
      font-size: 24px;
      text-align: center;
      line-height: 48px;
      .bold {
        font-weight: 800;
      }
    }
    .phoneNumberInput {
      border: 5px solid;
      padding: 8px 40px;
      border-radius: 4em;
      .placeholder {
        color: #cecece;
      }
      .input {
        color: white;
        font: inherit;
        font-size: 24px;
        width: 12em;
        border: none;
        background: none;
      }
    }
    .caution {
      color: #cecece;
    }
    .passButton {
      background: none;
      border: none;
      font: inherit;
      color: #cecece;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .nextButton {
    border: none;
    width: 50%;
    padding: 10px 0;
    border-radius: 4em;
    font: inherit;
    font-weight: 600;
    color: white;
    font-size: 24px;
    background: #14ae5c;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}

.PhoneOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  .wrapper {
    width: 40%;
    border-radius: 30px;
    background: white;
    box-shadow: 0 0 10px rgba(black, 0.2);
    animation: 0.5s ease message;
    padding: 30px;
    font-family: "Chakra Petch", "Pretendard Variable", sans-serif;
    display: flex;
    flex-direction: column;
    .image {
      width: 40%;
      margin: 20px 0;
      align-self: center;
    }
  }
  .button {
    font: inherit;
    font-size: 24px;
    padding: 5px 25px;
    border: none;
    border-radius: 15px;
    background: #5c9d39;
    color: white;
    animation: 0.5s ease message;
    cursor: pointer;
  }
}

.CreditOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  .creditList {
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: 58s linear credit;
    transform: translateY(100vh);
    font-size: 20px;

    .label {
      margin-top: 120px;
      margin-bottom: 60px;
    }
    .block {
      display: flex;
      justify-content: center;
      gap: 100px;
      margin: 10px 0;
      > div {
        width: 300px;
        &.left {
          text-align: right;
        }
        &.right {
          text-align: left;
        }
      }
    }
  }
  .skip {
    position: absolute;
    bottom: 40px;
    right: 80px;
    background: none;
    border: 2px solid white;
    font: inherit;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    animation: 1s ease reveal;
    border-radius: 10px;
    &:hover {
      opacity: 0.8;
    }
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes message {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes credit {
  0% {
    transform: translateY(90vh);
  }
  100% {
    transform: translateY(-100%);
  }
}
