.TestOverlay {
  position: absolute;
  top: 100px;
  left: 100px;
  padding: 10px;
  background: red;
  color: white;
  cursor: pointer;
}

.SelectOverlay {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 10%;
  display: flex;
  justify-content: space-evenly;
  .select {
    font: inherit;
    font-family: "Garam", serif;
    font-size: 2vw;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    animation: 1s ease reveal;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
