.TestOverlay {
  position: absolute;
  top: 100px;
  left: 100px;
  padding: 10px;
  background: red;
  color: white;
  cursor: pointer;
}

.SelectOverlay {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 10%;
  display: flex;
  justify-content: space-evenly;
  transition: 0.5s ease;
  .select {
    font: inherit;
    font-family: "Garam", serif;
    font-size: 2vw;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    animation: 1s ease reveal;
    transition: 0.5s ease;

    &.endSelected {
      transform: scale(1.1);
      opacity: 1;
    }
    &.notEndSelected {
      opacity: 0.7;
    }
  }
  &.invisible {
    opacity: 0;
    cursor: default;
  }
  &.visible {
    .select:hover {
      opacity: 0.8;
    }
  }
}

.PhoneNumberOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  animation: 1s ease reveal;

  .inputForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    .explanation {
      font-size: 24px;
      text-align: center;
      line-height: 48px;
      .bold {
        font-weight: 800;
      }
    }
    .phoneNumberInput {
      border: 5px solid;
      padding: 8px 40px;
      border-radius: 4em;
      .placeholder {
        color: #cecece;
      }
      .input {
        color: white;
        font: inherit;
        font-size: 24px;
        width: 12em;
        border: none;
        background: none;
      }
    }
    .caution {
      color: #cecece;
    }
    .passButton {
      background: none;
      border: none;
      font: inherit;
      color: #cecece;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .nextButton {
    border: none;
    width: 50%;
    padding: 10px 0;
    border-radius: 4em;
    font: inherit;
    font-weight: 600;
    color: white;
    font-size: 24px;
    background: #14ae5c;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
