.Header {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  top: 0;
  .logo {
    font: inherit;
    border: none;
    background: none;
    color: white;
    font-family: "Chakra Petch", sans-serif;
    font-size: 48px;
    font-weight: 700;
    cursor: pointer;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    font-family: "Chakra Petch", sans-serif;

    gap: 30px;
    .button {
      font: inherit;
      border: none;
      background: none;
      color: white;
      font-size: 24px;
      cursor: pointer;
    }
  }
}
