.PlayerHeader {
  width: 100%;
  padding: 12px 40px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 999;
  font-weight: 400;
  color: #dcdcdc;
  font-size: 24px;
  transition: 1s ease;
  &.visible {
    opacity: 1;
  }
  &.invisible {
    opacity: 0;
  }
}
