.DiagramTest {
    background-color: black;
}

.NodeContainer {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
    background-color: black;
    color: black;
    position: relative;
    height: 300px;
    width: 100%;
    //aspect-ratio: 16 / 9;
}

.wrapper0 {
    position: absolute;
    left: 0px;
    top: 45%;
}

.wrapper1 {
    position: absolute;
    left: 15%;
    top: 45%;
}

.wrapper2 {
    position: absolute;
    left: 40%;
    top: 30%;
}

.wrapper3 {
    position: absolute;
    left: 35%;
    top: 45%;
}

.wrapper4 {
    position: absolute;
    left: 35%;
    top: 60%;
}

.wrapper5 {
    position: absolute;
    left: 55%;
    top: 10%;
}

.wrapper6 {
    position: absolute;
    left: 55%;
    top: 25%;
}

.wrapper7 {
    position: absolute;
    left: 65%;
    top: 39%;
}

.wrapper8 {
    position: absolute;
    left: 85%;
    top: 30%;
}

.wrapper9 {
    position: absolute;
    left: 85%;
    top: 45%;
}
